<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security Example </title>
    </head>
    <body>
       <p> ERROR</p>
       <p th:text="${timestamp}"></p>
       <p th:text="${status}"></p>
       <p th:text="${error}"></p>
       <p th:text="${message}"></p>
       <p th:text="${path}"></p>
       
    
    </body>
</html>